.newsletter {
    padding: 2rem;
    background-color: #f4f4f4;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    margin-bottom: 1.5rem;
}

.header h2 {
    color: #071e4e;
}

.header p {
    font-size: 1rem;
    color: #666;
}

.form {
    display: flex;
    justify-content: center;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 1rem;
}

.input {
    padding: 0.8rem;
    border: 1px solid #071e4e;
    flex: 1;
    font-size: 1rem;
    color: #fffbf9;
}

.button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #071e4e;
    color: #fffbf9;
    padding: 1rem;
    outline: #fffbf9;
}

.button:hover {
    outline: black;
    background-color: white;
    color: black;
    border: 1px solid black;
}


